{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4" style="margin-left: 10px;">
    <div class="div" style="margin-left: 20%;">{% include 'partials/_messages.html' %}</div>
    <div class="row">
        <div class="col-md-10">
            <nav style="margin-left: 202px;" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Income</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Income Summery</li>
                </ol>
              </nav>
        </div>
    </div>
    <div>
        <canvas id="myChart" style="margin-left: 20%;"></canvas>
      </div>
      
</div>
<script src="{% static 'js/instats.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock content %}