{% extends "base_auth.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-left mt-3"><small style="color: grey;">Remembered your credentials?</small><p></p>
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Sign in</a>
        </div>
        
        <div class="card mt-5">
           
            <div class="card-body">
                <div class="card-title py-2">
                    <h4>Reset Password</h4>
                </div>
                <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    
                    <div class="form-group py-2">
                        <input type="password" name="password1" id="passwordField" placeholder="New password" class="form-control form-control-sm">
                        <small class="float-right py-3 showPassword">Show</small> 
                    </div>
                                        
                    <div class="form-group py-2">
                        <input type="password" name="password2" id="confirmPasswordField" placeholder="Confirm new password" class="form-control form-control-sm">
                        <small class="float-right py-3 showPassword">Show</small> 
                   </div>

                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" disabled>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<style>
    .is-valid {
        border-color: #28a745;
        background-color: #e9ffe9;
    }
    .is-invalid {
        border-color: #dc3545;
        background-color: #f8d7da;
    }
    .showPassword {
        margin-left: 330px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .showPassword:hover {
        transform: scale(1.2);
        color: #007bff; 
        text-decoration: underline;
    }
    .text-left {
        position: absolute;
        top: 20px;
        left: 20px;
    }
</style>

<script src="{% static 'js/resetpassword.js' %}"></script>

{% endblock content %}
